/**
 * @file ui.scss
 * @author deo
 *
 * ui
 */

/**
 * 附件添加
 *
 */
$add-attach-width: rem(18px);

.add-attach {
    padding: 0;
    display: inline-block;
    width: $add-attach-width;
    height: $add-attach-width;
    background-image: url('../img/button_import_add-accessory.png');
    background-repeat: no-repeat;
    background-size: $add-attach-width;
}

/**
 * 文本清除
 *
 */
$add-attach-width: rem(18px);

.close-x {
    padding: 0;
    display: block;
    width: $add-attach-width;
    height: $add-attach-width;
    background-image: url('../img/button_top_search_close.png');
    background-repeat: no-repeat;
    background-size: $add-attach-width;
}

/**
 * 勾和x
 *
 *
 */
$circle-size: rem(45px);
.circle-right, .circle-err {
    display: inline-block;
    padding: 0;
    width: $circle-size;
    height: $circle-size;
    background-repeat: no-repeat;
    background-size: $circle-size;
}

.circle-right {
    background-image: url('../img/popup_right.png');
}

.circle-err {
    background-image: url('../img/popup_error.png');
}

@mixin add($color: #fff, $width: rem(2px), $height: rem(10px)) {
    &:before {
        position: absolute;
        display: block;
        content: ' ';
        width: $height;
        height: $width;
        background-color: $color;
        margin: 0 auto;
        margin-top: rem(-1px) !important; // 初步怀疑是 webpack loader 把权重顺序输出反了
        margin-left: rem(-4px) !important;
        top: 50%;
        left: 50%;
    }

    &:after {
        position: absolute;
        display: block;
        content: ' ';
        width: $width;
        height: $height;
        background-color: $color;
        margin: 0 auto;
        margin-top: rem(-4px);
        margin-left: rem(-1px);
        top: 50%;
        left: 50%;
    }
}

/**
 * Loading
 */
$loading-size: 20px;

.loading {
    /* @include loading($loading-size, 2px, $body-bg); */
}

.loading-status {
    display: flex;
    justify-content: center;

    .loading, .loading-text {
        display: inline-flex;
    }

    .loading-text {
        height: $loading-size;
        line-height: $loading-size;
        padding-left: rem(10px);
        font-size: rem(12px);
        color: $color-tips;
    }
}

/**
 * layout list 重写一些 loading 样式
 */
.layout-list {

    .layout-loading {
        @include border-1px(top);

        padding: rem(12px) 0;

        .loading {
            /* @include loading($loading-size, 2px); */
        }
    }
}

/*  */
.status {
    color: $blue;
}

.errline {
    color: $light-gray;
}

.time {
    font-size: rem(11px);
    color: $light-gray;
}

/* icon */
.icon {
    position: absolute;
    left: 0;
    top: 0;

    &-point {
        width: 5px;
        height: 5px;
        background: $drak-red;
        border-radius: 100%;
    }

    &-new {
        @include icon-corner($drak-red);
    }

    &-delay {
        @include icon-corner(#999);
    }
}

/* TAB */
.tab {
    display: box;
    box-pack: center;
    box-align: center;
    height: rem(35px);
    background: $white;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    overflow: hidden;
    @include border-1px(bottom);

    ul {
        position: absolute;
        height: rem(35px);
        background: $white;

        li {
            font-size: rem(14px);
            display: inline-block;
            height: rem(15px);
            line-height: rem(15px);
            padding: rem(10px) rem(20px);
            color: $black;

            &.selected {
                color: $blue;

                @include border-1px(bottom, $blue, 2px);
            }
        }
    }
}
