@import "../../css/global.scss";

$border-color: #dedfe0;

.filter-inner {
	height: rem(50px);
	@include border-1px(bottom, $border-color);
	background-color: $white;
	display: flex;
	position: relative;

	.filter-menu {
		flex: 1;
		text-align: center;
		line-height: rem(50px);

		&.current-menu {

			>em {
				color: $blue;
					&:before {
					border-right-color: $blue;
					border-top-color: $blue;
					border-bottom-color: transparent;
					border-left-color: transparent;
					margin-top: 0;
				}
			}

			.menu-content {
				display: block;
			}
		}

		>em {
			position: relative;

			&:before {
				content: ' ';
				display: block;
				position: absolute;
				border: rem(1px) #000 solid;
				border-right-color: transparent;
				border-top-color: transparent;
				transform: rotate(-45deg);
				top: 50%;
				right: 50%;
				margin-right: rem(-26px);
				height: rem(4px);
				width: rem(4px);
				margin-top: rem(-4px);
			}
		}

		.menu-content {
			display: none;

			.shadow {
				position: fixed;
				left: 0;
				top: rem(50px);
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, .5);
			}

			.menu-inner {
				position: absolute;
				left: 0;
				top: 100%;
				width: 100%;
				background-color: $white;

				.menu-item {
					height: rem(44px);
					line-height: rem(44px);
					@include border-1px(bottom, $border-color);
					padding: 0 rem(15px);

					&:last-child {
						@include border-1px(bottom, transparent);
					}

					&.current-item {
						color: $blue;

						.item-content {
							
							&:after {
								content: ' ';
								display: block;
								position: absolute;
								width: rem(6px);
								height: rem(12px);
								border: 1px solid $blue;
								border-top-color: transparent;
								border-left-color: transparent;
							    top: 50%;
							    right: rem(10px);
							    transform: rotate(45deg) translate(0, -100%);
							}
						}
					}

					.item-content {
						position: relative;
						text-align: left;
					}
				}
			}
		}
	}
}